<div id="mainContainer" class="container">
        <div>
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-8">
                    <button type="button" class="btn btn-lg osnovnaBarva mojGumb" data-toggle="modal" data-target="#myModal" id="dodajObjavo">Dodaj objavo</button>

                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">New post</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" maxlength="300" rows="4" id="comment" placeholder="Napiši svoje misli...(Maksimum 300 znakov)"></textarea>
                                </div>
                            </form>
                                    <%= form_for @post, url: posts_path, html: { multipart: true } do |f| %>
                                    <!--%= form_for @post  do |f| %-->
                                        <%= f.text_area :body, class:'invisibleForm', id:'createBody' %>
                                        <%= f.text_field :location, class:'invisibleForm', id:'createLocation' %>
                                        <%= f.text_field :date, class:'invisibleForm', id:'createDate' %>
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <span class="btn btn-sm mojGumb osnovnaBarva fileinput-button" style="float:right; margin-bottom:5px;" id="dodajSliko">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <span>Add</span>
                                                    <%= f.file_field :avatar , onchange:"readURL(this);"%>
                                                </span>
                                            </div>
                                        <%= f.submit "Create", class:'invisibleForm', id:'createButton' %>
                                    <% end %>
                                <div class="row"></div>
                                <div class="row">
                                    <span id="slikce"></span>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn mojGumb osnovnaBarva" data-dismiss="modal" id="objavi" disabled="disabled">Post</button>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="left">
            <hr id="hrNews">
            <div class="row naslov">Objave:</div>
            <hr class="mediaHr">

            <span id="newsFeed">
                <% @posts.each do |p| %>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                        <%= image_tag p.user.avatar.url(:medium), height:30, alt:'No photo' %>   
                        <!--img src="images/stockUserPhoto.png" class="wwsFeedUserPhoto" alt="No photo"-->
                        <span class="headerName"> 
                            <%= link_to user_path(p.user) do%>
                                <%= p.user.email %>
                            <% end %>
                            <span class="lokacija"><span class="glyphicon glyphicon-map-marker">   </span><%= p.location %></span>
                        </span>
                        <% if p.user==current_user || current_user.admin %>
                            <span style="float:right;"> 
                                    <%= link_to post_path(p),
                                      method: :delete,
                                      data: { confirm: 'Are you sure?' } do %>
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <button type="button" class="btn btn-sm osnovnaBarva mojGumb">Delete</button>
                                    </div>
                                <%end%>
                            </span>
                            <span style="float:right;"> 
                                    <%= link_to edit_post_path(p) do %>
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <button type="button" class="btn btn-sm osnovnaBarva mojGumb">Edit</button>
                                    </div>
                                <%end%>
                            </span>
                        <% end %>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 textInput">
                                <span class="spremeniInput"><%= p.body %></span>
                            </div>
                            <div class="row">
                                <% if p.avatar_file_name!=nil %> 
                                    <%= image_tag p.avatar, class:'newsFeedUserPhoto', alt:'No photo' %>   
                                    <!--img src="'+src+'" class="panelBodyPhoto"--> 
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <% if p.created_at!=p.updated_at %>
                            Updated on
                            <%= p.updated_at%>
                        <% else %>
                            <%= p.created_at%>
                        <% end %>
                    </div>
                   
                    </div>
                <% end %>
            </span>
        </div>